@import "catppuccin.css";

* {
    color: @text;
    border: none;
    border-radius: 1rem;
    font-family: Liberation Mono;
}

window#waybar {
    background: transparent;
}

widget label, widget box {
    background: @base;
    padding: 0 1rem;
}

.modules-left widget box {
    margin-right: .5rem;
}

.modules-right widget label {
    margin-left: .5rem;
}

#workspaces {
    padding: 0;
}

#workspaces label {
    background: transparent;
    padding: .4rem 0;
}

#workspaces button {
    padding: .4rem 0;
}

#workspaces button.active, #workspaces button:hover {
    background: @surface0;
}
